body{

}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

/* Layout */

.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width:1170px;
	margin:0 auto;
}

.ba-header{
	position: absolute;
	width:100%;
	left:0;
	top:30px;
}

.ba-header .ba-container{
	display:flex;
	justify-content: space-between;
	justify-content: space-between;
	align-items:center;
	align-items:center;
}

.ba-hero{
background-image:url(../img/hero.jpg);
background-color:#000;
white-space-collapse: break-strict;: cover;
background-size: cover;
background-size: cover;
background-repeat:no-repeat;
height:100vh;
text-align:center;
color:#fff;
display:flex;
align-items:center;
align-items:center;
justify-content:center;

}

.ba-hero__title{
	font-size:60px;

}

.ba-hero__text{
	font-size:30px;
	margin-bottom: 1.8em;
}

body{
	font-family:'Poppins',sans-serif;
}

.ba-hero_btn{
	border:2px solid rgb(221,221,221);
	border-radius:10px;
	height:54px;
	font-weight:500;
	color:#fff;
	display:inline-flex;
	justify-content: center;
	justify-content: center;
	align-items:center;
	align-items: center;

	text-decoration:none;
	padding:0 1.25em;

}

.ba-hero_btn:hover,
.ba-hero_btn:focus{
	background-color: #FFF;
	color:#000;

}

.logo_link{
	text-decoration:none;
	color:#fff;
	font-size: 33px;

}
.logo{
	margin:0;
}

.menu{
	display:flex;
	list-style:none;
}

.menu_item + .menu_item{
	margin-left: 30px;
}
.menu_item{
	overflow:hidden;
}

.menu_link{
	text-decoration:none;
	color:#fff;
	font-weight:500;
	position:relative;
}

.menu_link:hover,
.menu_linl:focus{
	color:#e71cb4;
}

.menu_link:hover:after,
.menu_link:focus:after{
	left:0;
	height:3px;
	transform:translateX(0);

}

.menu_link:after{
	content:'';
	position: absolute;
	width:100%;
	display: inline-block;
	height: 1px;
	border-color:#e71cb4;
	left:0;
	bottom:0;
	transform:translateX(-100%);
	transition:left .2s, height .5s, transform .75s;
	transition-timing-function: cubic-bezier(0.42, 0, 1.12);
}

/*  .arrow{
	position:relative;
	font-size:1em;
	padding-left:74px;
}
.arrow-number{
	color:yellow;
	font-size:1.5em;
	margin-right:35px;
}

.arrow:before,
.arrow:after{
	content:'';
	position:absolute;
	left:0;
	height: 15px;
	width: 3px;
	background-color: tomato;
	display:inline-block;
}

.arrow:before{
	transform:rotate(45deg);
	top:9px;
}

.arrow:after{
	transform:rotate(-45deg);
}*/



.arrow-1{
	position: relative;
	padding-left: 50px;

}
.arrow-number-1{
	color: #ffde16;
	font-size: 1.5em;
	margin-right: 35px;
}

.arrow-1:before,
.arrow-1:after{
	content: '';
	position: absolute;
	left:0;
	top: 0px;
	height: 15px;
	width: 3px;
	background-color: #ffde16;
	display: inline-block;
}
.arrow-1:before{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-1:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	     top: 20px;
}

.arrow-2{
	position: relative;
	padding-left: 50px;

}

.arrow-number-2{
	color: #ff6179;
	font-size: 1.5em;
	margin-right: 35px;
}
.arrow-2:before,
.arrow-2:after{
	content: '';
	position: absolute;
	left:0;
	top: 0px;
	height: 15px;
	width: 3px;
	background-color: #ff6179;
	display: inline-block;
}
.arrow-2:before{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-2:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	     top: 20px;
}

.arrow-3{
	position: relative;
	padding-left: 50px;

}
.arrow-number-3{
	color:blue;
	font-size: 1.5em;
	margin-right: 35px;
}
.arrow-3:before,
.arrow-3:after{
	content: '';
	position: absolute;
	left:0;
	top: 0px;
	height: 15px;
	width: 3px;
	background-color: blue;
	display: inline-block;
}
.arrow-3:before{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-3:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	 top: 20px;
}
.arrow-4{
	position: relative;
	padding-left: 50px;

}
.arrow-number-4{
	color: #2eac66;
	font-size: 1.5em;
	margin-right: 35px;
}
.arrow-4:before,
.arrow-4:after{
	content: '';
	position: absolute;
	left:0;
	top: 0px;
	height: 15px;
	width: 3px;
	background-color: #2eac66;
	display: inline-block;
}
.arrow-4:before,
.arrow-4:after{
	-webkit-transform: rotate(45deg );
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-4:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	 top: 20px;
}


.arrow-5{
	position: relative;
	padding-left: 50px;

}
.arrow-number-5{
	color: #ff6179;
	font-size: 1.5em;
	margin-right: 35px;
}
.arrow-5:before,
.arrow-5:after{
	content: '';
	position: absolute;
	left:0;
	top: 0px;
	height: 15px;
	width: 3px;
	background-color: #ff6179;
	display: inline-block;
}
.arrow-5:before{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-5:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	 top: 20px;
}
.arrow-6{
	position: relative;
	padding-left: 50px;

}
.arrow-number-6{
	color: #ffde16;
	font-size: 1.5em;
	margin-right: 35px;
}
.arrow-6:before{
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	        transform: rotate(45deg);
	 top: 30px;
}
.arrow-6:after{
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	 top: 20px;
}

[class^="arrow"]:hover{
	opacity: 0.5;
	cursor: pointer;
}







 ul{
 	list-style:none;
 }

.list{
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;


}
.content-heading{
	font-size: 62px;
	text-align: left;
	color: #e71cb4;
	padding-top: 155px;
}
.content-paragraph{
	width: 1120px;
	font-size: 32px;
	line-height: 1.5;
	color: #444;
	padding-top: 105px;
}
.course{
padding-top: 128px;
font-size: 36px;
color: #444;
}*/


.main-info{
	padding-top: 92px;
	margin-bottom: 82px;
}
.main-info p{
	font-size: 22px;
	line-height: 1.81;
	color: #444;
}
.starting{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 47px;
}
.starting + p{
	font-size: 14px;
	margin-bottom: 50px;
}
.download-case{
	border: 2px solid #c60ebe;
	outline: none;
	background-color: #C60EBE;
  border-radius: 10px;
  height: 54px;
  font-weight: 500;
  color: #FFF;
  display: inline-flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  text-decoration: none;
  padding: 0 1.25em;
  width: 461px;
  font-size: 22px;
  margin-bottom: 153px;
}


